/*CSS DOCUMENT*/

h1{
    color: rgb(75,0,130);
    font-size: 3em;
    margin: .5em 1em .5em 0em;
}

h2{
    color: rgb(75,0,130);
    font-size: 1.75em;
}

h3{
    color: rgb(0,139,139);
    font-size: 1.5em;
}

h4{
    color:rgb(75,0,130);
    margin:.25em 0em .25em 0em;
}

p{
    margin:.25em 0em .25em 0em;
}

li{
    margin:.1em 0em 1em 0em;
}

.price{
    color:rgb(165,42,42);
}

ul{
    list-style: square;
    color: rgb(75,0,130);
}
